<% provide(:title, 'Help') %>
<h1>Help</h1>

<h3>Logging in/out</h3>
<p>
	A user must log in to us the Worktimer app.  On the Home page a user can sign in by clicking the "Sign in" tab on the top navigation bar.  There the user
	will be able to enter their log in credentials and regain access to the Worktimer app.  A new user can sign up by clicking the "Sign up" button in the middle 
	of the home page screen.  There the new user is required to give a name, email, and password to gain access to the Worktimer App.  To sign out, the user can click on the "Account" drop down menu in the top navigation bar and click "Sign out".  The user will then be automatically signed out.  Sessions last as long as the browser is open.
</p>

<h3>Adding Customers and Projects</h3>
<p>
	New customers and projects must be addded before and work or tasks can begin.  Using the navigation bar at the top of the page, a user
	can select the Customers drop down menu.  A user can then select "Create New Customer" under the Customers tab and will be taken to the Add
	a Customer form.  There a user can enter all known information about the new customer.  A company name must be provided and the form must be 
	submitted through the "Add a Customer" button located on the bottom of the page
</p>
<p>
	To add a new project, a User must navigate to the companies page.  By selecting the Customers tab on top navigation bar, a user can select "All Customers".
	Here the user can find the Customer and select them to load the customers page.  The Customers page gives all known contact info for the customer.  Add the top of the page is the add a project form.  Here a new project can be selected by providing a name and a brief description.
</p>

<h3>Logging Time</h3>
<p>
	After logging in the user will be immediately be taken to the time logger for today.
</p>



<p>
  This is the help page.
</p>