<div class="row">
  <div class="span9">

    <%= form_for(@taskdate) do |f| %>
      <%= render 'form', f: f %>
      <div class="clearfix visible-xs"></div>
    
      <%= f.submit "Finish tasks", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>